In [1]:
import pandas as pd
import numpy as np
import sklearn as sk
import psycopg2
import sqlalchemy
import seaborn as sns
import matplotlib as plt

%matplotlib inline

In [16]:
import pandas.io.sql as psql

In [10]:
"""Connect to database"""
conn = psycopg2.connect("dbname=pitchfork_db2")

In [11]:
cur = conn.cursor()

In [12]:
cur.execute("""SELECT * FROM artists LIMIT 6;""")

In [13]:
cur.fetchall()

[(22703, 'massive attack', 1),
 (22721, 'krallice', 2),
 (22659, 'uranium club', 3),
 (22661, 'kleenex', 4),
 (22661, 'liliput', 5),
 (22725, 'taso', 6)]

In [20]:
"""Create artists dataframe"""
ar = psql.read_sql("SELECT * FROM artists;", conn)
ar.head()

   reviewid          artist  id
0     22703  massive attack   1
1     22721        krallice   2
2     22659    uranium club   3
3     22661         kleenex   4
4     22661         liliput   5

In [ ]:
ar.info()

In [ ]:
cur = conn.cursor()

In [ ]:
"""Create artists dataframe"""
ct = psql.read_sql("SELECT * FROM content;", conn)
ct.head()